<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
      xmlns:xsi=http://www.w3.org/2001/XMLSchema-instance
      xsi:schemaLocation=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Museo</title>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/css/material-dashboard.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/MyCSS.css">
</head>
<body>
<h1>
    <i>Museo numismatica</i>
</h1>

<ul class="nav nav-pills nav-pills-primary" role="tablist">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                            href="/" role="tablist" aria-expanded="true"> Moneda </a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab"
                            href="PaginaEjemplar" role="tablist" aria-expanded="false">
        Ejemplar </a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab"
                            href="PaginaProveedor" role="tablist" aria-expanded="false">
        Proveedor </a></li>
</ul>

<div class="tab-content tab-space">
    <div class="tab-pane active" id="link1" aria-expanded="true">
        <div class="row">
            <button type="button"
                    onclick="window.location.href = '/paginaAddMoneda';"
                    class="btn btn-success btn-round ml-auto" data-toggle="modal"
                    data-target="#addModalMoneda">
                <i class="material-icons">add_circle</i>
            </button>
            <button type="button"
                    onclick="window.location.href = '/paginaSearchMoneda';"
                    class="btn btn-success btn-round mr-5" data-toggle="modal"
                    data-target="#searchModalMoneda">
                <i class="material-icons">search</i>
            </button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th><a href="/moneda/ascDes">ID</a></th>
                <th><a href="/moneda/val">Valor facial</a></th>
                <th><a href="/moneda/uni">Unidad monetaria</a></th>
                <th><a href="/moneda/diam">Diámetro</a></th>
                <th><a href="/moneda/peso">Peso</a></th>
                <th>Composición</th>
                <th>Descripción</th>
                <th>Ejemplares</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="moneda : ${Monedas}">
                <td><span th:text="${moneda.id}"></span></td>
                <td><span th:text="${moneda.valorFacial}"></span></td>
                <td><span th:text="${moneda.unidadMonetaria}"></span></td>
                <td><span th:text="${moneda.diametro}"></span></td>
                <td><span th:text="${moneda.peso}"></span></td>
                <td><span th:text="${moneda.metales}"></span></td>
                <td><span th:text="${moneda.descripcion}"></span></td>
                <!--boton de info -->
                <td><a th:href="@{'/ejemplar/' + ${moneda.id}}">
                    <button type="submit" class="btn btn-info btn-fab btn-round">
                        <i class="material-icons">info</i>
                    </button>
                </a></td>
                <td class="td-actions text-right">
                    <button type="button" rel="tooltip"
                            class="btn btn-success btn-round" data-toggle="modal"
                            th:onclick="'window.location.href =\''+@{/moneda/edit/{id}(id=${moneda.id})}+'\''">
                        <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip"
                            class="btn btn-danger btn-round"
                            th:onclick="'window.location.href =\''+@{/moneda/delete/{id}(id=${moneda.id})}+'\''">
                        <i class="material-icons">delete</i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:insert="fragments/general.html :: addModal"></div>
</body>
</html>