<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:xsi=http://www.w3.org/2001/XMLSchema-instance
	xsi:schemaLocation=http://www.thymeleaf.org>
<head>
<meta charset="UTF-8">
<title>Museo</title>
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="/assets/css/material-dashboard.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/MyCSS.css">
</head>
<body>
	<h1>
		<i>Museo numismatica</i>
	</h1>

	<ul class="nav nav-pills nav-pills-primary" role="tablist">
		<li class="nav-item"><a class="nav-link active" data-toggle="tab"
			role="tablist" aria-expanded="true"> Ejemplar </a></li>
	</ul>

	<div class="tab-content tab-space">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle2">Añadir
					ejemplar</h5>
				<button type="button"
					onclick="window.location.href = '/PaginaEjemplar';" class="close"
					data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/ejemplar/ejemplarAniadir" method="post">
					<input type="hidden" name="id" th:if="${ejemplar != null}"
						th:value="${ejemplar.id}" /> <input type="hidden" name="id"
						th:if="${ejemplar == null}" value="" />
					<div class="form-group" th:if="${Moneda == null}">
						<label>Moneda</label> 
						<select class="form-control" name="moneda" required>
							<option th:if="${ejemplar==null}" value="" selected disabled>Selecciona
								una moneda</option>
							<option th:each="moneda : ${Monedas}" th:value="${moneda.id}"
								th:selected="${ejemplar != null && ejemplar.moneda.id == moneda.id}"
								th:text="${moneda.valorFacial}+', '+${moneda.unidadMonetaria}">
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>Año de acuñación</label> <input type="text"
							class="form-control" name="anio" required
							th:value="${(ejemplar != null) ? ejemplar.anio : ''}">
					</div>
					<div class="form-group">
						<label>Ciudad de acuñación</label> <input type="text"
							class="form-control" name="ciudad" required
							th:value="${(ejemplar != null) ? ejemplar.ciudad : ''}">
					</div>
					<div class="form-group">
						<label>Fecha de acuñación</label> <input type="date"
							class="form-control" name="fechaAdquisicion" required
							th:value="${(ejemplar != null) ? ejemplar.fechaAdquisicion: ''}">
					</div>
					<div class="form-group">
						<label>Estado de conservación</label> <input type="text"
							class="form-control" name="conservacion" required
							th:value="${(ejemplar != null) ? ejemplar.conservacion : ''}">
					</div>
					<div class="form-group">
						<label>NIF proveedor</label> 
						<select class="form-control" name="proveedor" required>
							<option value="" selected disabled>Selecciona un
								proveedor</option>
							<option th:each="proveedor : ${Proveedores}"
								th:value="${proveedor.id}"
								th:selected="${ejemplar != null && ejemplar.proveedor.id == proveedor.id}"
								th:text="${proveedor.codigoIdentificacionFiscal}"></option>
						</select>

					</div>
					<div class="modal-footer">
						<button th:if="${ejemplar==null}" type="submit"
							class="btn btn-primary">Añadir ejemplar</button>
						<button th:if="${ejemplar!=null}" type="submit"
							class="btn btn-primary">Modificar ejemplar</button>
					</div>
				</form>
			</div>
		</div>


	</div>

	<div th:insert="fragments/general.html :: addModal"></div>
</body>
</html>