<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org xmlns:xsi=http://www.w3.org/2001/XMLSchema-instance
      xsi:schemaLocation=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Museo</title>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/material-dashboard.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/MyCSS.css">
</head>
<body>
<h1><i>Museo numismatica</i></h1>
<div class="card">
    <div class="card-header card-header-text card-header-primary">
        <div class="card-text" >
            <h1 class="card-title">Proveedor</h1>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <button type="button" rel="tooltip" class="btn btn-secondary btn-round btn-fab ml-5">
                <a href="/"><i class="material-icons">chevron_left</i></a>
            </button>
            <button type="button" rel="tooltip" class="btn btn-success btn-round ml-auto" data-toggle="modal" data-target="#searchModal">
                <i class="material-icons">search</i>
            </button>
            <button type="button" rel="tooltip" class="btn btn-success btn-round" data-toggle="modal" data-target="#addModal">
                <i class="material-icons">add_circle</i>
            </button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Identificación fiscal</th>
                <th>Nombre</th>
                <th>Codigo postal</th>
                <th>Email</th>
                <th>Telefono</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="proveedor : ${Proveedor}">
                <td><span th:text="${proveedor.codigoIdentificacionFiscal}"></span></td>
                <td><span th:text="${proveedor.nombre}"></span></td>
                <td><span th:text="${proveedor.codigoPostal}"></span></td>
                <td><span th:text="${proveedor.email}"></span></td>
                <td><span th:text="${proveedor.telefono}"></span>
                </td>
                <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-success btn-round" data-toggle="modal" data-target="#editProveedor">
                        <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-round">
                        <i class="material-icons" th:data-id="${Ejemplar.id}" onclick="removeProveedor(this.getAttribute('data-id'))">delete</i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
           aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle1">Busqueda por criterio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Buscar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item">Moneda</a>
                            <a class="dropdown-item">Ejemplar</a>
                            <a class="dropdown-item">Proveedor</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Buscar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <a class="dropdown-item">UnidadMonetaria</a>
                            <a class="dropdown-item">Fecha de adquisición</a>
                            <a class="dropdown-item">Nombre</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editProveedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle6">Modificar proveedor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/proveedor/editProveedor" method="post">
                <div class="form-group">
                    <label>ID</label>
                    <input class="form-control" type="text" name="id">
                </div>
                <div class="form-group">
                    <label>Código de identificación fiscal</label>
                    <input class="form-control" type="text" name="codigoIdentificacionFiscal">
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" type="text" name="nombre">
                </div>
                <div class="form-group">
                    <label>Código postal</label>
                    <input class="form-control" type="text" name="codigoPostal">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" name="email">
                </div>
                <div class="form-group">
                    <label>Teléfono</label>
                    <input class="form-control" type="text" name="telefono">
                </div>
                <input type="hidden" name="ejemplar" value="">
                <div class="modal-footer td-actions">
                    <button type="submit" class="btn btn-primary">Añadir proveedor</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>



<script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chartist JS -->
<script src="../assets/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
<script src="../assets/js/myJs.js"></script>
</body>
</html>